/* 
Title:		Master styles for screen media
Author: 	dan@simplebits.com
*/
/* line 6, scss/master.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  font-size: 100%;
  background: url(../img/space-bg.png) repeat-x fixed -80% 0;
  background: url(../img/stars-1.png) repeat-x fixed -130% 0, url(../img/stars-2.png) repeat-x fixed 40% 0, url(../img/space-bg.png) repeat-x fixed -80% 0, url(../img/clouds.png) repeat-x fixed 100% 0;
  background-color: #1a1a1a;
}

/* links */
/* line 21, scss/master.scss */
a:link, a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #1e638d;
  outline: none;
}

/* line 27, scss/master.scss */
a:hover {
  color: #39c;
}

/* page structure 
--------------------------------------------- */
/* line 34, scss/master.scss */
#wrap {
  width: 920px;
  margin: 0 auto;
  padding: 0;
  background: white url(../img/bg-light.jpg) no-repeat 0 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
}

/* line 46, scss/master.scss */
#page {
  padding: 30px 0 0 0;
}

/* line 49, scss/master.scss */
div.full {
  position: relative;
  margin: 0 0 30px 0;
  padding: 30px;
  background: #393939;
  /* backup for IE<9 */
  background: rgba(23, 25, 28, 0.8);
}

/* line 56, scss/master.scss */
div.main {
  float: left;
  width: 520px;
  margin: 0 0 10px 30px;
  padding: 0 0 0 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 65, scss/master.scss */
div.secondary {
  float: right;
  width: 270px;
  margin: 0 30px 20px 0;
  font-size: .8em;
  color: #666;
  color: rgba(0, 0, 0, 0.5);
}

/* line 73, scss/master.scss */
#footer {
  width: 820px;
  margin: 20px auto 50px auto;
  padding: 0 50px;
  color: #fff;
}

/* header 
--------------------------------------------- */
/* line 83, scss/master.scss */
#header {
  width: 920px;
  margin: 0 auto;
}

/* line 88, scss/master.scss */
#logo {
  float: left;
  padding: 30px 30px 25px 0px;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

/* line 96, scss/master.scss */
#logo-mark {
  float: left;
  margin: 0 15px 0 0;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

/* line 104, scss/master.scss */
#logo:hover {
  opacity: .85;
}

/* line 107, scss/master.scss */
#logo:hover #logo-mark {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* line 113, scss/master.scss */
#logo-type {
  float: left;
  margin: 8px 0 0 0;
}

/* nav */
/* line 120, scss/master.scss */
#nav {
  float: right;
  padding: 42px 0 0 30px;
  font-size: .9em;
}

/* line 125, scss/master.scss */
#nav li {
  float: left;
  margin: 0 0 0 5px;
}

/* line 129, scss/master.scss */
#nav li a {
  padding: 5px 15px;
  font-weight: bold;
  color: #ccc;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* line 144, scss/master.scss */
#nav li a:hover,
#nav li a:focus {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}

/* line 148, scss/master.scss */
#nav li.active a {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}

/* main styles 
--------------------------------------------- */
/* full */
/* line 158, scss/master.scss */
div.full h2 {
  clear: left;
  padding: 10px 0 0 0;
  font-size: .7em;
  line-height: 1;
  text-transform: uppercase;
  color: #ccc;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  min-height: 1px;
}

/* things carousel */
/* line 172, scss/master.scss */
#things-prev {
  position: absolute;
  left: -19px;
  top: 80px;
}

/* line 177, scss/master.scss */
#things-next {
  position: absolute;
  right: -19px;
  top: 80px;
}

/* line 182, scss/master.scss */
ol#things li {
  position: relative;
  float: left;
  margin: 0 15px 0 0;
  padding: 10px;
  background: #444;
  background: rgba(255, 255, 255, 0.1);
  list-style: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 195, scss/master.scss */
ol#things li:last-child {
  margin-right: 0;
}

/* line 198, scss/master.scss */
ol#things li a {
  float: left;
  width: 137px;
  height: 91px;
  background: url(../img/moon-137.jpg) no-repeat 0 0;
}

/* line 204, scss/master.scss */
ol#things li a img {
  position: absolute;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* line 211, scss/master.scss */
ol#things li#things-1 a img {
  width: 60px;
  top: 23px;
  left: 26px;
}

/* line 216, scss/master.scss */
ol#things li#things-2 a img {
  width: 50px;
  top: 20px;
  left: 50px;
}

/* line 221, scss/master.scss */
ol#things li#things-3 a img {
  width: 80px;
  top: 19px;
  left: 30px;
}

/* line 226, scss/master.scss */
ol#things li#things-4 a img {
  width: 70px;
  top: 25px;
  left: 45px;
}

/* line 231, scss/master.scss */
ol#things li#things-5 a img {
  width: 80px;
  top: 20px;
  left: 34px;
}

/* line 236, scss/master.scss */
ol#things li#things-1 a:hover img {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}

/* line 242, scss/master.scss */
ol#things li#things-2 a:hover img {
  top: 25px;
  left: 60px;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 250, scss/master.scss */
ol#things li#things-3 a:hover img {
  left: 45px;
}

/* line 253, scss/master.scss */
ol#things li#things-4 a:hover img {
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

/* line 259, scss/master.scss */
ol#things li#things-5 a:hover img {
  opacity: .4;
}

/* main */
/* line 265, scss/master.scss */
div.main h1 {
  font-size: 2em;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1.1;
  text-shadow: 0 1px 1px #fff;
}

/* line 272, scss/master.scss */
div.main h3 {
  margin: 0 0 15px 0;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.1;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #fff;
}

/* line 280, scss/master.scss */
div.main h4 {
  margin: 0 0 5px 0;
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1.1;
  text-shadow: 0 1px 1px #fff;
}

/* line 288, scss/master.scss */
div.main p {
  margin: 0 0 15px 0;
  line-height: 1.5;
  text-shadow: 0 1px 1px #fff;
}

/* line 293, scss/master.scss */
div.main p.posted {
  margin: 0 0 30px 0;
  padding: 0 0 0 20px;
  font-size: .8em;
  color: #777;
  background: url(../img/icon-time.png) no-repeat 0 50%;
}

/* line 300, scss/master.scss */
div.main p.posted span {
  margin: 0 4px;
  color: #ccc;
}

/* multi-column layout */
/* line 307, scss/master.scss */
div.mult {
  font-size: .75em;
  color: #666;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  -webkit-column-rule: 1px dotted #999;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -moz-column-rule: 1px dotted #999;
  column-count: 3;
  column-gap: 20px;
  column-rule: 1px dotted #999;
}

/* secondary styles 
--------------------------------------------- */
/* line 324, scss/master.scss */
div.mod {
  margin: 0 0 30px 0;
}

/* line 327, scss/master.scss */
div.alt {
  padding: 20px;
  background: #ddd;
  background: rgba(23, 25, 28, 0.15);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 335, scss/master.scss */
div.secondary p {
  line-height: 1.5;
}

/* line 338, scss/master.scss */
div.secondary h3 {
  margin: 0 0 10px 0;
  font-size: 1.4em;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
  text-shadow: 0 1px 1px #fff;
  color: #222;
}

/* line 347, scss/master.scss */
div.secondary h3.alerts {
  padding: 3px 0;
  padding-left: 29px;
  background: url(../img/icon-alerts.png) no-repeat 0 50%;
}

/* newsletter form */
/* line 355, scss/master.scss */
#thing-alerts fieldset {
  margin: 0 0 10px 0;
}

/* line 358, scss/master.scss */
#thing-alerts fieldset:last-child {
  margin: 0;
}

/* line 361, scss/master.scss */
#thing-alerts fieldset label {
  display: block;
  font-weight: bold;
  line-height: 1.4;
  color: #666;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 1px #fff;
}

/* line 369, scss/master.scss */
#thing-alerts fieldset input[type="text"] {
  width: 215px;
  padding: 5px 8px;
  font-family: Helvetica, sans-serif;
  font-size: 1.2em;
  color: #666;
  border: none;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 12%, from(#999999), to(white));
  background-image: -moz-linear-gradient(0% 12% 90deg, white, #999999);
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

@-webkit-keyframes pulse {
  /* line 385, scss/master.scss */
  0% {
    -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.2);
  }

  /* line 388, scss/master.scss */
  50% {
    -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.9);
  }

  /* line 391, scss/master.scss */
  100% {
    -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.2);
  }
}

@-webkit-keyframes pulse-error {
  /* line 397, scss/master.scss */
  0% {
    -webkit-box-shadow: 0 0 12px rgba(204, 0, 0, 0.1);
  }

  /* line 400, scss/master.scss */
  50% {
    -webkit-box-shadow: 0 0 12px rgba(204, 0, 0, 0.5);
  }

  /* line 403, scss/master.scss */
  100% {
    -webkit-box-shadow: 0 0 12px rgba(204, 0, 0, 0.1);
  }
}

/* line 408, scss/master.scss */
#thing-alerts fieldset input[type="text"]:focus {
  -webkit-animation: pulse 1.5s infinite ease-in-out;
}

/* line 411, scss/master.scss */
#thing-alerts fieldset input[type="submit"] {
  padding: 8px 15px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1;
  color: #444;
  border: none;
  background-color: #fff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#bbbbbb));
  background-image: -moz-linear-gradient(0% 100% 90deg, #bbbbbb, white);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

/* line 430, scss/master.scss */
#thing-alerts fieldset input[type="submit"]:hover,
#thing-alerts fieldset input[type="submit"]:focus {
  -webkit-animation: pulse 1.5s infinite ease-in-out;
}

/* things count */
/* line 436, scss/master.scss */
h4#things-count {
  float: right;
  width: 270px;
  margin: 10px 30px 30px 0;
  text-align: center;
}

/* line 442, scss/master.scss */
h4#things-count span {
  margin: 0 1px;
  padding: 6px 12px;
  font-size: 1.8em;
  color: #fff;
  background: #333333 url(../img/flip.png) repeat-x 0 50%;
  background: url(../img/flip.png) repeat-x 0 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0, #585858), color-stop(1, #222222));
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 -1px 1px black;
}

/* line 456, scss/master.scss */
h4#things-count em {
  display: block;
  margin: 8px 0 0 0;
  font-size: 1em;
  font-style: normal;
  color: #666;
  text-shadow: 0 1px 1px #fff;
}

/* categories list */
/* line 467, scss/master.scss */
ol.cat {
  border: 2px solid rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 474, scss/master.scss */
ol.cat li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 477, scss/master.scss */
ol.cat li:last-child {
  border: none;
}

/* line 480, scss/master.scss */
ol.cat li a {
  position: relative;
  display: block;
  width: 230px;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
  color: #222;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-transition: width 0.3s linear, background 0.2s ease;
  -moz-transition: width 0.3s linear, background 0.2s ease;
  -o-transition: width 0.3s linear, background 0.2s ease;
  transition: width 0.3s linear, background 0.2s ease;
}

/* line 500, scss/master.scss */
ol.cat li a img {
  position: absolute;
  top: 10px;
  right: 20px;
  opacity: .4;
}

/* line 506, scss/master.scss */
ol.cat li a em {
  float: right;
  margin: 2px 30px 0 0;
  font-size: .85em;
  font-weight: normal;
  font-style: normal;
  opacity: .5;
}

/* line 514, scss/master.scss */
ol.cat li a:hover {
  color: #fff;
  width: 245px;
  background-color: rgba(30, 99, 141, 0.85);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
}

/* line 520, scss/master.scss */
ol.cat li a:hover img {
  opacity: .6;
}

/* line 523, scss/master.scss */
ol.cat li a:hover em {
  color: #000;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
}

/* footer 
--------------------------------------------- */
/* line 531, scss/master.scss */
#footer p {
  margin: 0 0 10px 0;
  font-size: .8em;
  line-height: 1.6;
  color: #999;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.9);
}

/* line 539, scss/master.scss */
#footer p a {
  text-decoration: none;
  font-weight: normal;
  color: #999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* line 545, scss/master.scss */
#footer-logos {
  margin: 0 0 10px 0;
  text-align: center;
}

/* line 549, scss/master.scss */
#footer-logos li {
  display: inline;
}

/* line 552, scss/master.scss */
#footer #footer-logos a {
  border: none;
}

/* line 555, scss/master.scss */
#footer #footer-logos a img {
  border: none;
  opacity: .25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  /* IE 8 hack */
  filter: alpha(opacity=25);
  /* IE 5-7 hack */
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

/* line 565, scss/master.scss */
#footer #footer-logos a:hover img {
  opacity: .6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  /* IE 8 hack */
  filter: alpha(opacity=60);
  /* IE 5-7 hack */
}

/* misc. 
--------------------------------------------- */
/* line 574, scss/master.scss */
hr, .hide {
  display: none;
}

/* line 577, scss/master.scss */
a img {
  border: none;
}

/* self-clear floats */
/* line 583, scss/master.scss */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
